
* {
    box-sizing: border-box;
  }

  h5 {
    font-size: 14px;
    font-weight: 300;
  }
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 70%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 30%;
    padding-left: 20px;
  }
  
  /* Blog image */
 .blogimg {
    max-height: 100%;
    max-width: 100%;
    height: 200px;
    background: url(../img/create_background.jpg) no-repeat ;
    background-size: 100%;
    background-color: #aaa;
    padding: 20px;
  }

  .bloglist {
    background-size: absolute;
    background-color: #ecb7a9;
    padding: 20px;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 20px;
  }
  
  /* Article blocks */
  .articles {
     background-color: #fff;
     padding: 50px;
     margin-top: 20px;
     height: 100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout switches columns to stack on top of each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }