figure {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 10px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../img/header-main.png) top/cover no-repeat;
    background-size: 100%;
}

p {
    font-family: sans-serif;
}

h1, h2, h5, h3 {
    font-family: sans-serif;
}

.logo {
    margin: 0;
}

.button a {
    background-color: #f7d58b;
    color: #000;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button a:hover {
    background-color: #f5e7e4;
}

video {
    width: 500px;
}

.techstack {
    display: flex;
    font-size: 140px;
    line-height: 250px;
    padding: 0 200px 0 200px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Ipad view */
@media screen and (max-width: 768px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: url(../img/main_background.jpg) top/cover no-repeat;
        background-size: 100%;
        background-color:#fff;
    
    }

    .techstack {
        display: flex;
        font-size: 100px;
        line-height: 200px;
        padding: 0 40px 0 0;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    video {
        width: 300px;
    }
}

/* Mobile view */
@media screen and (max-width: 415px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: url(../img/main_background.jpg) top/cover no-repeat;
        background-size: 100%;
        background-color:#fff;
    
    }

    .techstack {
        display: flex;
        font-size: 50px;
        line-height: 100px;
        padding: 0 30px 0 0;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    video {
        width: 300px;
    }
}